
/* .footer {
    background-color: #3E2723; 
    color: white;
    padding: 9px;
    text-align: left;
    margin: auto;
    height: 200px;
    width: 1395px;
} */

footer {
    position: relative;
    padding: 10px 10px;
    background: #3E2723; 
    text-align: left;
    min-width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
  }

body {
    background: linear-gradient(to bottom, #A5D6A7, #4CAF50);
    background-color: #b3cde3; 
    color: #333; 
}

