{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Избранные
{% endblock %}
{% block content %}

<div>
    <div class="container">
      {% if substack_animals %}
        <div class="row">
          {% for substack_animal in substack_animals %}
          <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex">
            <div class="card border-dark" style="width: 90%;">
              <div id="carouselExample{{ substack_animal.id }}" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% if substack_animal.animal.image %} {{ substack_animal.animal.image.url }} {% else %} 
                {% static 'img/1.jpg' %} {% endif %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% if substack_animal.animal.image %} {{ substack_animal.animal.image.url }} {% else %} 
                {% static 'img/1.jpg' %} {% endif %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% if substack_animal.animal.image %} {{ substack_animal.animal.image.url }} {% else %} 
                {% static 'img/1.jpg' %} {% endif %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{ substack_animal.id }}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{ substack_animal.id }}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <div class="card-body">
                <h5 class="card-text">
                  {% for target in substack_animal.animal.target.all %} 
                    {{ target }} 
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}</h5>
                <p class="card-text">Вид животного:
                  {% for kind in substack_animal.animal.kind.all %} 
                    {{ kind }} 
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}</p> 
                <p class="card-text">Описание: {{ substack_animal.animal.description }}</p>
                <button type="button" class="btn btn-primary btn-remove-substack" data-substack-animal-id="{{ substack_animal.id }}">
                  Удалить</button>
                    <a href="{% url 'animals:detail_animal' substack_animal.animal.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      
      </div>
      {% else %}
      <h2>Избранных нет</h2>
      {% endif %}
</div>

{% endblock %}