{% extends 'base.html' %}
{% load static %}
{% block lists %}
  Адреса ветеринарных клиник
{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Ветеринарные клиники</h2>
</div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Название клиники</th>
        <th scope="col">Город</th>
        <th scope="col">Адрес</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Сайт</th>
      </tr>
    </thead>

    <tbody>
        {% for clinic in clinics %}
        <tr>
          <td class='d-flex justify-content-center align-items-center'>{{clinic.name_clinic}}
            <img src="{{ clinic.logo.url }}" class="d-block ms-2" alt="..." style="height: 40px">
          </td>
          <td>{{clinic.city}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clinic{{ clinic.id }}">
            {{clinic.adress}}</td>
          </button>
          
          <div class="modal fade" style="height: 1440px" id="clinic{{ clinic.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{clinic.name_clinic}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">{{clinic.map_link|safe}}</div>
              <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button></div>
            </div>
          </div>
            
          <td><a href="tel:{{ clinic.phone_number }}" class="text-black text-decoration-none">{{clinic.phone_number}} </a></td>
            <td>{% if clinic.cite %}<a class="navigation-link" href="{{ clinic.cite }}" target="_blank">
              <?xml version="1.0" ?><svg data-name="Layer 1" id="Layer_1" width="40" height="40" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z"/>
                  <path d="M16,30a1,1,0,0,1-1-1V3a1,1,0,0,1,2,0V29A1,1,0,0,1,16,30Z"/>
                  <path d="M23,17a1,1,0,0,1-1-1c0-6.5-2.75-12-6-12a1,1,0,0,1,0-2c4.49,0,8,6.15,8,14A1,1,0,0,1,23,17Z"/>
                  <path d="M16,30a1,1,0,0,1,0-2c3.25,0,6-5.5,6-12a1,1,0,0,1,2,0C24,23.85,20.49,30,16,30Z"/>
                  <path d="M9,17a1,1,0,0,1-1-1C8,8.15,11.51,2,16,2a1,1,0,0,1,0,2c-3.25,0-6,5.5-6,12A1,1,0,0,1,9,17Z"/>
                  <path d="M16,30c-4.49,0-8-6.15-8-14a1,1,0,0,1,2,0c0,6.5,2.75,12,6,12a1,1,0,0,1,0,2Z"/>
                  <path d="M29,17H3a1,1,0,0,1,0-2H29a1,1,0,0,1,0,2Z"/>
                  <path d="M27,11H5A1,1,0,0,1,5,9H27a1,1,0,0,1,0,2Z"/>
                  <path d="M27,23H5a1,1,0,0,1,0-2H27a1,1,0,0,1,0,2Z"/></svg>
                </a>
                {% else %}
                -
                {% endif %}
            </td> 
          </tr>
        {% endfor %}
      </tbody>
  </table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if clinics.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ clinics.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}
    {% for page_num in clinics.paginator.page_range %}
      {% if clinics.number == page_num %}
        <li class="page-item active">
          <span class="page-link">{{ page_num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if clinics.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ clinics.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %} 
  </ul>
</nav>

{% endblock %}